body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d76d6d;
    margin: 0;
    /* font-family: Arial, sans-serif; */
}
.inputbox {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
